<div id="left">
  <h2 class="header__title">Movies List</h2>
  <div>
    <mat-progress-spinner *ngIf="!movies" class="progress__spinner" [color]="'primary'" [mode]="'indeterminate'">
    </mat-progress-spinner>
    <mat-list>
      <mat-list-item *ngFor="let movie of movies">
        <img class="cp" mat-list-avatar src="assets/images/heroes/{{movie.id}}-thumbnail.jpg">
        <h3 mat-line> {{movie.name}} </h3>
        <p mat-line>
          <span>{{movie.description}}</span>
        </p>
        <div class="hero-actions">
          {{movies.likes | number:'.0'}}
          <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}" [matTooltipPosition]="'above'" class="icon__like--red">
            favorite
          </mat-icon>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div class="clear"></div>